@import url('http://fonts.cdnfonts.com/css/florentia');
body{
    background-image: url('../images/baner.jpg');
    background-size: cover;
    background-attachment: fixed;   
}
#header{
    background-color: rgb(1, 26, 1);
    color: whitesmoke;
    font-family: 'Florentia', sans-serif;    
}
.section h2.section-head:after{
    background-color: rgb(1, 68, 1);
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    margin: 20px auto;   
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
}
#menu li a{
    color: whitesmoke;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
}
#menu li a:hover{
    background-color: rgb(19, 116, 19);
}
.passage{
    color: white;
    box-shadow: inset 2000px 0 0 0 rgba(211, 204, 204, 0.219);
}
input {
   background-color: black;
  }
.aboutImg{
    height: 100%;
    width: 100%;
}
.contactform{
    background: url('baner2.jpg') no-repeat 0 0;
    color: white;
    font-weight: bold;  
}
.inp {
    border:none;
    border-bottom: 2px solid #18ff4a;
    outline: none;
    color: white;
    background: none;
 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
#footer-sidebar{
    color: white;
    background-color: rgb(1, 36, 1);
    padding: 80px;

}
.footer-widget a{
    
    color: white;
}
.latest-news{
    list-style: none;
    text-decoration: none;
}
.latest-news li{
    margin-bottom: 3px;
}
#footer{
    background-color: rgb(22, 139, 22);
    color: white;
    padding: 10px 0;
}

#icons{
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
}
#icons li{
    display: inline-block;
    padding-left: 5px;
}
#icons li a{
    color: white;
    font-size: 30px;
}



